* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 0.01em;
}

p {
	font-size: 18px;
	margin: 6px 0;
}

.big-text {
	font-size: 42px;
	margin: 18px 0;
}

#container {
	height: 100vh;
	perspective: 1000px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 700px;
	height: 400px;

  	transform: translateY(100px);
}

#card {
	width: 610px;
	height: 330px;

	background-color: #FFFCFE;
	border: 3px solid black;
	cursor: pointer;

	padding: 30px 10px;

	display: flex;
	align-items: center;

	transition: .3s; 
  	transform: rotateX(40deg) rotateZ(-20deg) translateY(100px);
}

#card:hover {
	box-shadow: 0px 0px 60px 10px rgba(158, 0, 255, 0.2);
}

.wrapper:hover #card {
	transform: rotate(0) translateY(-80px);
}

.card-image {
	width: 40%;
	object-fit: contain;

	margin-right: 30px;
}

#star {
	height: 5000px;
	width: 5000px;

	background-color: black;
	display: none;

	position: absolute;
	z-index: 10;
}

.star-active {
	animation: 1.2s polygon ease-in
}

@keyframes polygon {
  0% { 
  	clip-path: polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%); 
  	transform: scale(0.01)
  }
  100% { 
  	clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%); 
  	transform: scale(1) rotate(90deg)
  }
  
}
