* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

body {
	color: white;
	letter-spacing: 0.01em;

	font-size: 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

#real {
	padding: 60px 15%;
	background-color: black;
}

#me {
	opacity: 1;
	transition: 0.2s;

	z-index: 10;
}

#me:hover {
	opacity: 0;
}

.me-wrapper:hover #behind {
	display: inline;
}

.me-wrapper {
	position: relative;
}

#behind {
	position: absolute;
	top: 160px;
	left: 80px;

	display: none;
}

#hi {
	margin-top: 2000px;
	cursor: pointer;
}

#hi:hover .face {
	fill: white;
	stroke: white;
}

#hi:hover .head {
	fill: black;
	stroke: white;
}

.header {
	height: 120px;
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}

.name {
	display: flex;
	align-items: center;
}

.name p {
	font-size: 48px;
	margin: 0 36px;
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 8px;
}

.icons img {
	margin: 0 16px;
}

.content-wrapper {
	min-height: calc(100vh - 250px);
	padding: 40px 0;
}

.content {
	display: flex;
	flex-wrap: wrap;
	/* align-items: start; */
}

.description {
	max-width: 450px;
	padding: 60px 0 80px 0;
	margin-left: 70px;
	line-height: 32px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.description p {
	font-size: 24px;
	margin: 10px 0;
}

.qhide {
	display: initial;
}

@media screen and (max-width: 715px) {
  .qhide {
    display: none;
  }
}
