* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	letter-spacing: 0.01em;

	font-size: 30px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

#real {
	padding: 60px 15%;
	background-color: black;
}

#hi {
	margin-top: 2000px;
	cursor: pointer;
}

#hi:hover .face {
	fill: white;
	stroke: white;
}

#hi:hover .head {
	fill: black;
	stroke: white;
}

.header {
	height: 120px;
	margin-bottom: 20px;

	display: flex;
	justify-content: space-between;
}

.name {
	display: flex;
	align-items: center;
}

.name p {
	font-size: 48px;
	margin: 0 36px;
}

.icons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 8px;
}

.icons img {
	margin: 0 16px;
}

.qhide {
	display: initial;
}

@media screen and (max-width: 715px) {
  .qhide {
    display: none;
  }
}
